/*  sass --watch style.scss style.css */

#get-in-touch{
    display: flex;
    flex-direction: column;
    margin: 3% 5%;
}
.info-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3%;
}
.contact-box{
    ul {
        display: inline;
        list-style-type: none; 
        padding: 0;
        margin: 0;
    }
    h3, li {
        display: block;
        margin-bottom: 15px; 
    }
}




